<footer class="my-20 text-center md:mt-36">
    <p class="text-lg text-gray-500">Proudly powered by</p>
    <a href="https://stab.org" target="_blank">
        <img class="max-w-xs mx-auto" src="/images/stab-black.png" alt="St. Anne's-Belfield School Logo">
    </a>
</footer>