<nav class="md:flex md:items-center">
    <div class="md:flex-1">
        <a href="/">
            <img class="mx-auto md:mx-0" src="/images/spark.svg" alt="Spark Logo" />
        </a>
    </div>
    <div class="mt-6 flex justify-around font-medium text-lg text-gray-500 md:flex-1 md:text-right md:mt-0 md:inline-block">
        <a class="hover:text-black transition duration-200" href="/apply/camper">Apply</a>
        <a class="hover:text-black transition duration-200 md:ml-4" href="/apply/prospect">Get Updates</a>
        <a class="hover:text-black transition duration-200 md:ml-4" href="/about-us">About Us</a>
        <a class="hover:text-black transition duration-200 md:ml-4" href="/frequently-asked-questions">FAQ</a>
    </div>
</nav>