<header class="mt-20 lg:text-center">
    <h1 class="text-4xl font-700">About Summer Spark</h1>
    <p class="mt-2 text-lg">We're more than just a camp.</p>
</header>

<div class="mt-20">
    <div>
        <p class="font-semibold text-lg">Powered by Students</p>
        <p class="text-gray-600 mt-2 text-base leading-relaxed">From the beginning, students have been at the core of the CS Program from the choices they make during interdisciplinary CS integration projects in elementary and middle school to the leadership and peer mentoring opportunities like teaching assistant and hackathon organizer they take on in the upper school. In 2014, St. Anne’s-Belfield School had a vision of making computer science education available to every student. This vision was sparked by students, from a high school student who got frustrated taking an online CS course because we didn’t offer one to middle school students who took it upon themselves to teach the teachers coding during an afternoon PD. Students were more than ready for an outlet to become creators, not just consumers, of the next wave of discoveries, solutions, and innovations. In 2019, we have a growing and thriving K-12 CS Program that reaches every student at our school and beyond.</p>
    </div>
</div>