<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">About <span class="px-2 bg-yellow-light leading-tight md:px-6">Summer Spark</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">We're more than just a camp.</p>
</header>

<div class="mt-20 md:mt-36">
    <div>
        <p class="font-semibold text-xl">Powered by Students</p>
        <p class="text-gray-500 mt-1 text-base leading-relaxed md:text-lg md:leading-loose">All of our Spark programming is student-led, student-organized, and student-run -- two passionate students even developed the website you are using right now! With our intrepid faculty as guides, we seek to empower students from the Charlottesville community and beyond to see what we have seen: that technology and computer science (CS) enable us to be creative, to help others, and to inspire everyone to achieve higher. From the beginning of the CS Program at St. Anne's-Belfield in 2014, students like you have helped to create the activities, lessons, and software that makes all of our programming so special and fun. We are proud to be a part of a growing and thriving K-12 CS Program that reaches every student at our school and beyond. Get involved with us this summer and see for yourself what makes this unique type of learning, sharing, and creating such a special part of our lives.</p>
    </div>

    <div class="mt-8">
        <p class="font-semibold text-xl">More than a Camp</p>
        <p class="text-gray-500 mt-1 text-base leading-relaxed md:text-lg md:leading-loose">In addition to our Summer Spark programming, we also offer a free community-wide annual Hackathon in the winter and smaller programs throughout the year. We envision the impact of Spark taking place for longer than just the weeks we're together. Don't be surprised if the "camp magic" sticks with you after the summer ends; many of our former campers will be with us helping to make this summer one you'll never forget! With the skills you'll learn and the friends you'll make, you might just uncover a passion for creation that you never knew you had.</p>
    </div>

    <div class="mt-8">
        <p class="font-semibold text-xl">Email Us</p>
        <p class="text-gray-500 mt-1 text-base leading-relaxed md:text-lg md:leading-loose">If you have any questions about Spark, Spark Camp, or just want to reach out, feel free to email us at <a class="underline px-4 bg-yellow-light text-black py-1 hover:bg-yellow transition duration-200" href="mailto:spark@stab.org">spark@stab.org</a>! We'd love to hear from you.</p>
    </div>
</div>