<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">We've run into <span class="px-2 bg-yellow-light leading-tight md:px-6">a small problem</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">{{error}}</p>
    <p class="mt-2 text-black text-lg">Note: if the problem persists, please email us at <a class="underline text-yellow py-1 hover:text-yellow-dark transition duration-200" href="mailto:spark@stab.org">spark@stab.org</a> and we'll get back to you.</p>
</header>