<header class="mt-20 lg:mt-40 lg:text-center">
    <h1 class="text-4xl font-700">Join us in a summer of code</h1>
    <p class="mt-2 text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</header>

<div class="mt-12 md:text-center">
    <a class="border-2 border-yellow-400 font-semibold text-yellow-400 px-8 py-4 hover:bg-yellow-400 hover:text-white hover:border-black transition duration-200" href="/apply/camper">Apply Now!</a>
    <a class="ml-4 border-2 px-8 py-4 text-black hover:border-yellow-400 hover:text-yellow-500 transition duration-200" href="/apply/updates">Get Updates</a>
</div>

<div class="mt-32 md:grid md:grid-cols-1 md:gap-14">
    <div class="md:grid md:grid-cols-2 items-center md:gap-x-8">
        <img src="https://images.unsplash.com/photo-1612832020542-2b3125530d4a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" />

        <div>
            <p class="mt-4 font-semibold uppercase md:mt-0 text-lg">Spend weeks with new friends</p>
            <p class="mt-2 text-gray-600 leading-relaxed text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure adipisci suscipit odit totam voluptatem dicta maxime perferendis voluptate ducimus necessitatibus saepe, ipsa ad earum quisquam architecto repellendus voluptas eius!</p>
        </div>
    </div>

    <div class="md:grid md:grid-cols-2 items-center md:gap-8">
        <div>
            <p class="mt-4 font-semibold uppercase md:mt-0 text-lg">Work on real-world problems</p>
            <p class="mt-2 text-gray-600 leading-relaxed text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure adipisci suscipit odit totam voluptatem dicta maxime perferendis voluptate ducimus necessitatibus saepe, ipsa ad earum quisquam architecto repellendus voluptas eius!</p>
        </div>

        <img src="https://images.unsplash.com/photo-1612832020542-2b3125530d4a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" />
    </div>

    <div class="md:grid md:grid-cols-2 items-center md:gap-x-8">
        <img src="https://images.unsplash.com/photo-1612832020542-2b3125530d4a?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" />

        <div>
            <p class="mt-4 font-semibold uppercase md:mt-0 text-lg">Where creativity and fun meet</p>
            <p class="mt-2 text-gray-600 leading-relaxed text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure adipisci suscipit odit totam voluptatem dicta maxime perferendis voluptate ducimus necessitatibus saepe, ipsa ad earum quisquam architecto repellendus voluptas eius!</p>
        </div>
    </div>
</div>

<div class="mt-32">
    <table>
        <thead class="border-2">
            <tr>
                <th class="text-lg py-2 border-r-2">Website Design &amp; Development</th>
                <th class="text-lg py-2 border-r-2">Art of Code</th>
                <th>Game Design</th>
            </tr>
        </thead>
        <tbody class="border-2">
            <tr>
                <td class="text-gray-600 text-lg px-4 py-2 border-r-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum nisi quo ipsam provident illum deserunt accusamus perferendis vero incidunt ratione, non voluptatum, adipisci commodi eum harum eligendi alias consequatur!</span></td>
                <td class="text-gray-600 text-lg px-4 py-2 border-r-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum nisi quo ipsam provident illum deserunt accusamus perferendis vero incidunt ratione, non voluptatum, adipisci commodi eum harum eligendi alias consequatur!</span></td>
                <td class="text-gray-600 text-lg px-4 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum nisi quo ipsam provident illum deserunt accusamus perferendis vero incidunt ratione, non voluptatum, adipisci commodi eum harum eligendi alias consequatur!</span></td>
            </tr>
            <tr>
                <td class="px-4 py-2 border-2">June ?? through June ??</td>
                <td class="px-4 py-2 border-2">June ?? through June ??</span></td>
                <td class="px-4 py-2 border-2">June ?? through June ??</span></td>
            </tr>
        </tbody>
    </table>
</div>