<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">Join us in a <span class="px-2 bg-yellow-light leading-tight md:px-6">summer of code</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">Stuck at home this summer? Join us, on campus or virtually, for a summer computer science camp hosted by St. Anne's-Belfield CS. Open to all, no prior experience necessary, and completely free.</p>
</header>

<div class="mt-8">
    <a class="block text-center py-4 w-full bg-yellow font-semibold hover:bg-yellow-dark transition duration-200 md:w-64 md:inline-block md:text-xl" href="/apply/camper">Apply Now &rarr;</a>
    <a class="mt-4 block rounded-full border-4 border-gray-200 py-4 text-center hover:border-yellow hover:text-yellow transition duration-200 md:w-64 md:inline-block md:ml-6 md:text-xl" href="/apply/updates">Get Updates &rarr;</a>
</div>

<div class="mt-20 md:mt-36">
    <div class="flex flex-col md:grid md:grid-cols-2 md:gap-x-8 md:items-center">
        <img src="/images/reasons/first.jpg" alt="" />

        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Spend time with new friends</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Once you're here, on campus or virtually, you'll meet other like-minded peers from neighboring schools. Not only will you make new friends, but also cultivate long-lasting friendships. Mentors are here to help you every step of the way.</p>
        </div>
    </div>

    <div class="mt-8 flex flex-col flex-col-reverse md:grid md:grid-cols-2 md:gap-x-8 md:items-center md:mt-16">
        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Work on real-world problems</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Thanks to our sponsors, we have some real-world problems for you to solve. Worry not! You don't need to be the next Fortune 500 company. Join us for a chill time of solving problems with friends.</p>
        </div>

        <img src="/images/reasons/second.jpg" alt="" />
    </div>

    <div class="mt-8 flex flex-col md:grid md:grid-cols-2 md:gap-x-8 md:items-center md:mt-16">
        <img src="/images/reasons/third.jpg" alt="" />

        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Where creativity and fun meet</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Unlike a traditional classroom setup, you'll be engaging in small workshops to build foundations for your ultimate project. Best of all? You get to pick what you do and what format you'd like to do it in! You're the creative director.</p>
        </div>
    </div>
</div>

<div class="mt-20 md:mt-36 md:grid md:grid-cols-3">
    <div class="md:pr-2">
        <p class="mt-2 italic">June xx-July xx</p>
        <p class="font-semibold text-xl underline">Web Design & Development</p>
        <p class="mt-1 text-lg text-gray-500 md:mt-4">Ever wanted to learn about HTML, CSS, &amp; JavaScript? No matter your skill level, you're bound to learn something new. By the time you're finished, you'll have the tools and knowledge to make your own amazing websites.</p>
    </div>

    <div class="mt-6 md:mt-0 md:px-2">
        <p class="mt-2 italic">June xx-July xx</p>
        <p class="font-semibold text-xl underline">Creative Coding</p>
        <p class="mt-1 text-lg text-gray-500 md:mt-4">How can coding be traditionally "creative?" Unlike other art forms, you don't see the code itself, but the result of it. Join us in learning how to make digital art with code, and unlock your inner artist.</p>
    </div>

    <div class="mt-6 md:mt-0 md:pl-2">
        <p class="mt-2 italic">June xx-July xx</p>
        <p class="font-semibold text-xl underline">Art of Games</p>
        <p class="mt-1 text-lg text-gray-500 md:mt-4">If you like to play or make games, this is the week for you! Learn the elements of game design–from the initial idea to storyboarding–and how to produce it! Never be bored again.</p>
    </div>
</div>