<div id="covid-19" style="display: none;" class="fixed w-full h-full bg-black bg-opacity-40 inset-y-0 inset-x-0 overflow-y-scroll">
    <div class="container mx-auto bg-white rounded-lg py-12 px-4 md:px-12 relative md:mt-44">
        <div class="flex flex-row justify-between items-center">
            <h3 class="text-2xl font-semibold">Important COVID-19 Information</h3>
            <button id="close-modal" class="font-semibold underline text-red-500">Close</button>
        </div>
        <p class="mt-8 text-lg text-gray-500">We are happy to be able to offer in-person programming options this summer at St. Anne's-Belfield School. Summer Spark will be using the same protocols as we have during the school year, which allowed St. Anne's-Belfield's 880 students to be in-person all year with no community spread of COVID-19.</p>
        <p class="mt-2 text-lg text-gray-500">To maintain a healthy and safe environment, campers, volunteers, and staff will:</p>
        <ol class="mt-2 text-lg text-gray-500 list-disc ml-12">
            <li>Complete a daily health screening & temperature check upon arriving on campus.</li>
            <li>Wear masks at all times while indoors and always maintain 6 foot social distancing (gaiters, bandanas, and neck warmers are not acceptable face coverings).</li>
            <li>Adhere to posted signs directing the flow of movement through building hallways, entries, and exits.</li>
            <li>Wash hands frequently, especially before meals & snacks and after using the restroom.</li>
        </ol>
        <p class="mt-2 text-lg text-gray-500">We are fortunate to have tents and other outdoor facilities in place so we can have fun outside rain or shine. Additionally, our indoor facilities have a strong air filter system to support appropriate air circulation and are cleaned & disinfected daily.</p>
        <p class="mt-2 text-lg text-gray-500">We are committed to keeping our community safe while having fun this summer. Please find more information about our summer COVID-19 mitigation strategies on the <a class="underline text-yellow py-1 hover:text-yellow-dark transition duration-20" href="https://www.stab.org/summer-programs/covid-19" target="_blank">St. Anne's-Belfield website</a>. If you have any questions, please email us at <a class="underline text-yellow py-1 hover:text-yellow-dark transition duration-200" href="mailto:spark@stab.org">spark@stab.org</a>.</p>
    </div>
</div>

<button id="open-modal" class="fixed bottom-0 right-0 mb-4 mr-4 bg-white border-4 rounded-sm px-4 py-1 font-semibold hover:border-yellow hover:text-yellow transition duration-200">COVID-19 Plans</button>

<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">Join us in a <span class="px-2 bg-yellow-light leading-tight md:px-6">summer of code</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">Stuck at home this summer? Join us, on campus or virtually, for a summer computer science camp hosted by St. Anne's-Belfield CS. Open to all, no prior experience necessary, and completely free.</p>
</header>

<div class="mt-8">
    <a class="block text-center py-4 w-full bg-yellow font-semibold hover:bg-yellow-dark transition duration-200 md:w-64 md:inline-block md:text-xl" href="/apply/camper">Apply Now &rarr;</a>
    <a class="mt-4 block rounded-full border-4 border-gray-200 py-4 text-center hover:border-yellow hover:text-yellow transition duration-200 md:w-64 md:inline-block md:ml-6 md:text-xl" href="/apply/updates">Get Updates &rarr;</a>
</div>

<div class="mt-20 md:mt-36">
    <div class="flex flex-col md:grid md:grid-cols-2 md:gap-x-8 md:items-center">
        <img src="/images/reasons/first.jpg" alt="" />

        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Spend time with new friends</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Once you're here, on campus or virtually, you'll meet other like-minded peers from neighboring schools. Not only will you make new friends, but also cultivate long-lasting friendships. Mentors are here to help you every step of the way.</p>
        </div>
    </div>

    <div class="mt-8 flex flex-col flex-col-reverse md:grid md:grid-cols-2 md:gap-x-8 md:items-center md:mt-16">
        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Work on real-world problems</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Thanks to our sponsors, we have some real-world problems for you to solve. Worry not! You don't need to be the next Fortune 500 company. Join us for a chill time of solving problems with friends.</p>
        </div>

        <img src="/images/reasons/second.jpg" alt="" />
    </div>

    <div class="mt-8 flex flex-col md:grid md:grid-cols-2 md:gap-x-8 md:items-center md:mt-16">
        <img src="/images/reasons/third.jpg" alt="" />

        <div>
            <p class="mt-4 text-xl font-semibold md:text-2xl">Where creativity and fun meet</p>
            <p class="mt-1 text-lg text-gray-500 md:text-xl md:leading-relaxed">Unlike a traditional classroom setup, you'll be engaging in small workshops to build foundations for your ultimate project. Best of all? You get to pick what you do and what format you'd like to do it in! You're the creative director.</p>
        </div>
    </div>
</div>

<div class="mt-20 md:mt-36 md:grid md:grid-cols-2 md:gap-x-8">
    {{#each weeks}}
        <div class="mt-6">
            <p class="mt-2 italic">{{start_date}}–{{end_date}}</p>
            <p class="font-semibold text-xl underline">{{title}}</p>
            <p class="mt-1 text-lg text-gray-500 md:mt-4">{{description}}</p>
        </div>
    {{/each}}
</div>

<script>
    $("#covid-19").css("display", "none");

    $("#open-modal").click(() => {
        $("#open-modal").css("display", "none");
        $("body").css("overflow", "hidden");
        $("#covid-19").css("display", "block");
    });

    $("#close-modal").click(() => {
        $("#covid-19").css("display", "none");
        $("body").css("overflow", "scroll");
        $("#open-modal").css("display", "block");
    });
</script>