<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">Some questions <span class="px-2 bg-yellow-light leading-tight md:px-6">for you</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">Wait! Before your application is complete, we have a few questions for you. Fill them out and click the submit button to finish.</p>
    <p class="mt-2 text-black text-lg">Note: every field with an asterisk (*) is <span class="underline">required</span>.</p>
</header>

<noscript>
    <div class="mt-20 md:mt-36 border-4 border-black p-6">
        <p>This page does not work if JavaScript is disabled. <a href="https://www.enable-javascript.com" class="underline text-yellow hover:text-yellow-dark transition duration-200" target="_blank">Here's an online guide for how to turn it on.</a></p>

        <p class="mt-5">Otherwise, please fill out this form on Google Chrome, Firefox, or another web browser that supports JavaScript. We do not recommend Internet Explorer.</p>
    </div>
</noscript>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<div class="mt-20 md:mt-36">
    <form id="questions_form" class="md:w-100 md:mx-auto">
        <input type="hidden" id="camper_id" value="{{camper_id}}" />

        {{#each questions}}
            <label for="{{id}}" class="text-lg font-semibold"><span class="text-red-500 inline-block">*</span> {{question_text}}</label>
            <textarea name="{{id}}" class="text-xl bg-transparent mt-1 border-4 border-solid border-gray-200 outline-none focus:border-yellow transition duration-200 px-6 md:px-8 py-4 mb-8 appearance-none w-full" placeholder="Your answer"></textarea>
        {{/each}}

        <input type="submit" value="Submit Application →" class="block text-center py-4 w-full bg-yellow font-semibold hover:bg-yellow-dark transition duration-200 md:text-xl cursor-pointer">
    </form>
</div>

<script>
    $("#questions_form").on("submit", event => {
        event.preventDefault();

        let responses = $("#questions_form").find("textarea");
        let final_data = { camper_id: $("#camper_id").val(), responses: [] };

        for(let res of responses) {
            let id = $(res).prop("name");
            let value = $(res).val();

            let response_row = { question_id: id, response: value };
            final_data["responses"].push(response_row);
        }

        fetch("/camper-submit-questions", {
            method: "POST",
            cache: "no-cache",
            headers: { "Content-Type": "application/json" },
            redirect: "manual",
            body: JSON.stringify(final_data)
        })
            .then(() => {
                document.location.href = "/apply/thank-you";
            })
            .catch(err => console.error(err));
    });
</script>