<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">Status for <span class="px-2 bg-yellow-light leading-tight md:px-6">{{first_name}} {{last_name}}</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">You have been accepted as a camper! In order to participate, you must fill out this health  Consent &amp; Release forms.</p>
    <p class="mt-2 text-black text-lg">Note: every field with an asterisk (*) is <span class="underline">required</span>.</p>
</header>