<header class="mt-20 md:mt-36">
    <h1 class="text-4xl md:text-6xl">Successfully <span class="px-2 bg-yellow-light leading-tight md:px-6">unsubscribed</span>.</h1>
    <p class="mt-4 text-xl leading-normal text-gray-500 md:text-3xl md:leading-relaxed">You've been removed from our mailing list.</p>
    <p class="mt-2 text-black text-lg">If this was a mistake, you can <a class="underline text-yellow py-1 hover:text-yellow-dark transition duration-200" href="/apply/updates">sign up again</a>.</p>
</header>
