@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
    font-family: "Montserrat", serif;
}

h1 {
    font-weight: 700 !important;
}